<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
<link th:rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
<link th:rel="stylesheet"
	th:href="@{/webjars/font-awesome/5.11.2/css/all.css} " />
<meta charset="ISO-8859-1">
<title>Footer</title>
</head>
<body>

	<!-- Footer -->
	<div id="footer" th:fragment="footer">
		<div class="card bg-dark">
			<div class="card-body bg-dark">
				<h5 class="card-title">Turismo Jujuy</h5>
				<p class="card-text">Esta pagina ha sido creada gracias al apoyo
					de la gente.</p>
				<a href="#" class="btn btn-secondary">...</a>
			</div>
			<h5 class="card-header">Todos los derechos reservados</h5>
		</div>
	</div>

	<!-- Scripts -->
	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"
		type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
	<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"
		type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
	<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"
		type="text/javascript"
		src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>
</html>