html{
    height: 100%;
}
.fondo{
	background-color: rgb(255, 255, 255);
}

.btn-space {
    margin-right: 50px;
}

#Titulos
{
	text-align: center;
}

.colorTitulos
{
	color: rgb(0, 0, 0);
}

.login-box
{
	width: 320px;
  height: 420px;
  background:teal;
  color: #fff;
  top: 50%;
  left: 50%;
  padding: 70px 30px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 50px;
}

.border
{
	border: 3px #141f1f;
}

.bgc 
{
	background-color: #17a2b8;
}

b {
	background:url(../img/ruta.jpg) repeat center top;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;   
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.perfilbox
{
  text-align: center;
  background-color: rgb(255, 255, 255);  
  border: rgb(0, 0, 0) 1px solid;
  border-radius: 20px;
  margin: 20px;
}

.imgusuario
{
	text-align: center;
	height: 230px; 
	padding: 12px; 
}

.avatar
{
	width: 200px;
	height: 200px; 
	  border-radius: 50px;

}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  /*padding: 1rem;
  /*background-color: #efefef;*/
  text-align: left;
}