<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Agregar Punto de Interes</title>
<link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
<link th:rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
<link th:rel="stylesheet"
	th:href="@{/webjars/font-awesome/5.11.2/css/all.css}">
</head>
<body class="f">

	<!-- Header -->
	<header>
		<div th:insert="layouts/header :: header"></div>
	</header>

	<div class=" center">

		<!-- FormAddPoi -->
		<form class="needs-validation" novalidate id="formPoi" th:object="${unPoi}"
			th:action="${editMode}?@{/poi/modificar}:@{/addpoi/guardar}"
			method="post" enctype="multipart/form-data">
			 <input type="hidden" th:field="*{codigoPoi}"th:if="${editMode}">
				
			<div class="formpoi">

				<div>
					<h3 id='Titulos'>
						<span class=colorTitulos>Agregar Punto de Interés</span>
					</h3>
				</div>

				<div class="form-row justify-content-md-center">
					<div class="col-md-10 mb-3">
						<label for="name">Nombre</label> <input type="text"
							class="form-control" id="name" th:field="*{nombre}"
							placeholder="Basilica de San Francisco" required>
						<div class="invalid-feedback">Campo Requerido.</div>
					</div>
				</div>

				<div class="form-row justify-content-md-center">
					<div class="col-md-6 mb-3">
						<label for="address">Calle</label> <input type="text"
							class="form-control" id="address" th:field="*{calle}"
							placeholder="Belgrano" required>
						<div class="invalid-feedback">Campo Requerido.</div>
					</div>
					<div class="col-md-4 mb-3">
						<label for="anumber">Número</label> <input type="number"
							class="form-control" id="anumber" min="1" th:field="*{numeroCasa}"
							placeholder="111" required>
						<div class="invalid-feedback">Por favor ingrese un número
							válido mayor a 1.</div>
					</div>
					<div class="col-md-5 mb-3">
						<label for="latitud">Latitud</label> <input type="number"
							class="form-control" id="latitud" min="-24" max="-21" th:field="*{localizacionLatitud}"
							placeholder="-22" required>
						<div class="invalid-feedback">Por favor ingrese una latitud
							válida entre -21 y -24 </div>
					</div>
					<div class="col-md-5 mb-3">
						<label for="longitud">Longitud</label> <input type="number"
							class="form-control" id="longitud" min="-67" max="-64" th:field="*{localizacionLongitud}"
							placeholder="-65" required>
						<div class="invalid-feedback">Por favor ingrese una longitud
							válida entre -64 y -67</div>
					</div>
				</div>

				<div class="form-row justify-content-md-center">
					<div class="col-md-5 mb-3">
						<label for="nbhd">Barrio</label> <input type="text"
							class="form-control" id="nbhd" th:field="*{barrio}"
							placeholder="San Pedrito" required>
						<div class="invalid-feedback">Campo Requerido.</div>
					</div>
					<div class="col-md-5 mb-3">
						<label for="city">Localidad</label> <input type="text"
							class="form-control" id="city" th:field="*{localidad}"
							placeholder="San Salvador de Jujuy" required>
						<div class="invalid-feedback">Campo Requerido.</div>
					</div>
				</div>

				<div class="form-row justify-content-md-center">
					<div class="col-md-10 mb-3">
						<label for="description">Descripción</label> <input type="text"
							class="form-control" id="description" placeholder="Agregue descripción o un comentario sobre el lugar." maxlength="240" size="240"
							th:field="*{descripcion}" required>
						<div class="invalid-feedback">Se debe Agregar una
							descripción.</div>
					</div>
				</div>

				<div class="form-row justify-content-md-center">	
				<div class="custom-file col-md-10">
  					<input type="file" name="file" class="custom-file-input" id="file"
  					accept="image/x-png,image/gif,image/jpeg,image/png,image/jpeg"
						onchange="loadFile(event)" required>	
						 <img id="output" style="padding-top: 2px; width: 146px;"/>
					<label class="custom-file-label" for="file" th:field="*{fotografia}" >Elegir Foto</label>
				</div>
				</div>
				<br>
				<div class="form-row justify-content-md-center">	
				<div class="custom-file col-md-10">
  					<input type="file" name="file2" class="custom-file-input" id="file2"
  					accept="image/x-png,image/gif,image/jpeg,image/png,image/jpeg"
						onchange="loadFile2(event)" required>
						 <img id="output" style="padding-top: 2px; width: 146px;"/>
					<label class="custom-file-label" for="file2" th:field="*{fotografia2}" >Elegir Foto</label>
				</div>
				</div>
				<br>
				<div class="form-row justify-content-md-center">	
				<div class="custom-file col-md-10">
  					<input type="file" name="file3" 
  					class="custom-file-input" id="file3"accept="image/x-png,image/gif,image/jpeg,image/png,image/jpeg"
						onchange="loadFile3(event)" required>
						<div class="invalid-feedback">Se deben agregar tres fotos.</div>
						 <img id="output" style="padding-top: 2px; width: 146px;"/>
					<label class="custom-file-label" for="file3" th:field="*{fotografia3}">Elegir Foto</label>
				</div>
				</div>
				<br>
					

				<div class="form-row justify-content-md-center">
					<div class="col-md-5 mb-3">
						<label for="tag">Etiqueta</label> <select class="custom-select"
							id="tag" th:field="*{etiqueta}">
							<option selected disabled value="">Elegir</option>
							<option value="Cultura">Cultura</option>
							<option value="Naturaleza">Naturaleza</option>
							<option value="Aventura">Aventura</option>
							<option value="Deportes">Deportes</option>
							<option value="Gastronomia">Gastronomia</option>
						</select>
					</div>
					<div class="col-md-5 mb-3">
						<label for="website">Sitio Web</label> <input type="url"
							class="form-control" id="website" placeholder="Copiar URL (opcional)" th:field="*{sitioWeb}">
						<div class="invalid-feedback">Debe copiar la dirección url
							del sitio.</div>
					</div>
				</div>

				<div class="form-group row justify-content-md-center">
					<div class="col-md-3">
						<input type="submit" class="btn btn-info btn-block"
							th:value="${editMode}?'Modificar Poi':'Agregar'">
					</div>
					<div class="col-md-3">
						<input class="btn btn-danger btn-block" type="reset"
							value="Cancelar">
					</div>
				</div>
			</div>
		</form>

	</div>

	<!-- Footer -->
	<footer>
		<div th:insert="layouts/footer :: footer"></div>
	</footer>

	<!-- Scripts -->
	<script>
		// Example starter JavaScript for disabling form submissions if there are invalid fields
		(function() {
			'use strict';
			window.addEventListener('load',
					function() {
						// Fetch all the forms we want to apply custom Bootstrap validation styles to
						var forms = document
								.getElementsByClassName('needs-validation');
						// Loop over them and prevent submission
						var validation = Array.prototype.filter.call(forms,
								function(form) {
									form.addEventListener('submit', function(
											event) {
										if (form.checkValidity() === false) {
											event.preventDefault();
											event.stopPropagation();
										}
										form.classList.add('was-validated');
									}, false);
								});
					}, false);
		})();
	</script>

	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"
		type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
	<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"
		type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
	<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"
		type="text/javascript"
		src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>