<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}" />
<link th:rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
<link th:rel="stylesheet"
	th:href="@{/webjars/font-awesome/5.11.2/css/all.css} " />
<meta charset="ISO-8859-1">
<title>Login</title>
</head>
<body class="b">
	<div class="container">
	
	<br><br><br><br><br><br>
	
	<div class="row align-items-center ">
                <div class="col"></div>
                <div class="col"></div>
                <div class="col">
                
		<div class="login-box">
		
					<form th:action="@{/home}" method="post">
						<h1><span class="text-light">Iniciar Sesion</span></h1>
	
						<div class="form-group row">
							<label for="correo" class="col-sm-2 col-form-label text-light">Usuario</label>
							<br><input type="text" name="correo" placeholder="Enter Username"	class="form-control">							
						</div>
	
						<div class="form-group row">
							<label for="password" class="col-sm-2 col-form-label text-light">Contraseña</label>
							<br> <input type="password" name="password" placeholder="Enter Password" class="form-control">
	
						</div>
						
						<div class="d-grid gap-2">
								<input type="sumbit" class="btn btn-primary" value="Log In">
							</div>
						
						<a href="/turista/registrar" class="text-light">¿No tienes una cuenta? Registrate</a>
					</form>
			</div>

	</body>

	<!-- Scripts -->
	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"
		type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
	<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"
		type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
	<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"
		type="text/javascript"
		src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>
</html>