<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puntos Insuficientes</title>
    <link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css}">
</head>

<body class="body-home">
<div th:insert="layouts/header :: header" ></div>
<h1>¡No tiene la cantidad suficiente de puntos!</h1>
<a href="/canjes" id="button">Volver a pagina de canjes</a>
</body>
<!-- Footer -->
	<footer>
		<div th:insert="layouts/footer :: footer"></div>
	</footer>
</html>