<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css}">
</head>

<body class="fondo">

<!-- Header -->
	<header>
		<div th:insert="layouts/header :: header"></div>
	</header>
	
	<br>
	<div class="container">
		<div class="bg-dark">
			<br>
			<h1 id='Titulos'><span class=text-light>Mi Perfil</span></h1>
			<br>
			<!-- Datos Turista -->
			<div class="perfilbox">
				<div class="imgusuario">
						<img class="avatar" src="/img/usuario.png"/>
				</div>								
				id user
				<br>
				nombre y apellido de usuario
				<br>
				email
				<br>
				Pais
				<br>
				Puntos
				<br>
				
			</div>
			<br>
		</div>
	</div>
	<br>

<!-- Footer -->
	<footer>
		<div th:insert="layouts/footer :: footer"></div>
	</footer>

  <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript"
        src="webjars/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}" type="text/javascript"
        src="webjars/popper.js/1.16.0/popper.min.js"></script>
    <script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}" type="text/javascript"
        src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>