<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css}">
</head>

<body class="fondo">

<!-- Header -->
	<header>
		<div th:insert="layouts/header :: header"></div>
	</header>
	
	<br>
	<div class="container">
		<div class="col align-self-center">
			<br><br>
			<!-- Datos Turista -->
			<div class="row justify-content-md-center">
			<div class="col -6 col-sm-6">
			<div class="perfilbox">
			<h1 id='Titulos'><span class=text-light>Mi Perfil</span></h1>
			<br>
				<div class="row justify-content-md-center">
					<div class="imgusuario">
							<img class="avatar" src="https://images.vexels.com/media/users/3/137047/isolated/preview/5831a17a290077c646a48c4db78a81bb-icono-de-perfil-de-usuario-azul-by-vexels.png"/>
					</div>									
					
						<div th:object="${unTurista}">
                                <div style="width: 15rem;">
                                    <div class="titulos ">
                                        <h6>Nombre de Usuario</h6>
                                        <h8 th:text="${unTurista.nombre}">Nombre</h8>

                                        <h6>Apellido de Usuario</h6>
                                        <h8 th:text="${unTurista.apellido}">Apellido</h8>

                                        <h6>Email</h6>
                                        <h8 th:text="${unTurista.email}">Email</h8>

                                        <h6>Pais</h6>
                                        <h8 th:text="${unTurista.pais}">Pais</h8>						
									</div>
								</div>
						</div>
				
				</div>
				<!-- Botones -->
				<div class="form-row justify-content-md-end">
				<button class="btn btn-info col-4 btn-space" type="submit"
					th:value="${editMode}?'Modificar Turista':'Agregar Turista'">Modificar Perfil</button>
				<button class="btn btn-danger col-4 btn-space" type="submit" 
					th:value="${editMode}?'Modificar Turista':'Agregar Turista'">Eliminar Perfil</button>
			</div>
			</div>
			</div>
			<br>
		</div>
	</div>


<!-- Footer -->
	<footer>
		<div th:insert="layouts/footer :: footer"></div>
	</footer>

  <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript"
        src="webjars/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}" type="text/javascript"
        src="webjars/popper.js/1.16.0/popper.min.js"></script>
    <script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}" type="text/javascript"
        src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>