<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Pois</title>
<link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
<link th:rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
<link th:rel="stylesheet"
	th:href="@{/webjars/font-awesome/5.11.2/css/all.css}">
</head>
<body>

	<div class="container">
		<div th:each="p : ${pois}">
                <div class="col-md-4">
                    <div class="card" style="width: 15rem;">
                          <img src="/img/images.png" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${p.nombre}">Nombre</h5>
                            <p class="card-text" th:text="${p.descripcion}">Descripcion</p>
                            <p class="card-text" th:text="${p.localidad}">Localidad</p>
                            <a class="stretched-link btn btn-primary"><i class="fas fa-shopping-cart mr-2"></i> Buy</a>
                        </div>
                    </div>
                </div>
            </div>
	</div>

	<!-- Scripts -->
	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"
		type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
	<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"
		type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
	<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"
		type="text/javascript"
		src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>
</html>