<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Pois</title>
<link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
<link th:rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
<link th:rel="stylesheet" type="text/css" th:href="@{/css/styles-pois.css}">
<link th:rel="stylesheet"
	th:href="@{/webjars/font-awesome/5.11.2/css/all.css}">
</head>
<body>

	<!-- Header -->
	<header>
		<div th:insert="layouts/header :: header"></div>
	</header>

	<div class="container center">

		<div>
			<h3 id='Titulos'>
				<span class=colorTitulos>Puntos de Interés</span>
			</h3>
			<br> <br>
		</div>

		<div class="card-group">
		<div class="card">
			<tr th:if="${pois.empty}">
				<td colspan="2">
					<h4>No hay puntos de interes</h4>
				</td>
				<td><br></td>
				<td><br></td>
				<a th:href="@{/poi/agregar}" class="btn mr-2 btnlogin"><i
					class="fas fa-link"></i>Desea Agregar?</a>
			</tr>
			<div th:each="p : ${pois}">
				<img th:src="*{'data:;base64,'+p.imagen}" class="card-img-top">
				<div class="card-body">
					<h5 class="card-title text-center" th:text="${p.nombre}">Nombre</h5>
					<p class="card-text text-center" th:text="${p.descripcion}">Descripcion</p>
					<a th:href="@{'/detallespoi/'+${p.codigoPoi}}" class="btn mr-2 boton"><i class="fas fa-link"></i> Ver Detallles</a>
				</div>
			</div>
		</div>
		</div>

	</div>

	<!-- Footer -->
	<footer>
		<div th:insert="layouts/footer :: footer"></div>
	</footer>

	<!-- Scripts -->
	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"
		type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
	<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"
		type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
	<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"
		type="text/javascript"
		src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>
</html>